Builder/bin/
Builder/obj/
ContentPacker/bin/
ContentPacker/obj/
Shared/bin/
Shared/obj/

CGT/bin/Debug
CGT/bin/Release/net8.0/*.dll
CGT/bin/Release/net8.0/*.exe
CGT/bin/Release/net8.0/*.json
CGT/bin/Release/net8.0/*.pdb
CGT/obj